# Environment variables
.env
*.env
.env.*

# Virtual environment
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE specific files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db